/* Startup menu styles */
#main-menu { text-indent: 0px; margin:0px; padding:0px; }
#main-menu li { display:block; text-align: center; font-size: 30px; box-sizing: border-box; }
#main-menu li:nth-child(2n) {background-color: white; color: black; }
#main-menu li:nth-child(2n) a { color: black; }
#main-menu li:nth-child(2n+1) {background-color: black; color: white; }
#main-menu li:nth-child(2n+1) a { color: white; }

/* Editor */
.collapsable-content {  overflow: hidden }
.collapsable-content.collapsed { height: 0px; }

#editor-view-container input[type="number"] { width:20%; }
#editor-view-container input[type="range"] { width:50%; }

/* Stage */
#stage-container { position: absolute; top:0px; bottom: 0px; right:0px; left:0px; width:100%; box-sizing: border-box;}
.recording-ui-container { position: absolute; top:0px; color: white; background-color: rgba(0,0,0,.7); }