body { margin: 0px; }

/* Startup menu styles */
#main-menu { text-indent: 0px; margin:0px; padding:0px; position: absolute; top:0px; bottom: 0px; width:100%; }
#main-menu li { display:block; text-align: center; font-size: 30px; box-sizing: border-box;}
#main-menu li:nth-child(2n) {background-color: white; color: black; }
#main-menu li:nth-child(2n+1) {background-color: black; color: white; }

/* Tracks view styles */
#tracks-view-container { position: absolute; width: 100%; top:0px; bottom: 0px; }
    #tracks-view-container #tracks-list { position: absolute; top:0px; min-height: 100px; bottom: 1000px; width:100%; transition: bottom 1s; border-bottom: solid 2px #444; box-shadow:0px 2px 0px black; background-color: #222; }
    #tracks-view-container.exploring #tracks-list { bottom:0px;  }

/* Ok for now, but the tracks-list ul should be smaller and centered instead, with the cards positioned absolutely */
        #tracks-list ul { position: absolute; top: 0px; bottom: 0px; margin: 0px; text-indent:0px; list-style-type:none; width: 100%;}
            #tracks-list ul li { position: absolute; top: 10px; bottom: 10px; width:30%; margin-left:9%; background-color: black; display: block; transition: top 1s, bottom 1s, width 1s}
            .exploring #tracks-list ul li { top: 100px; bottom:100px; width: 70%; }

        #selected-track-view-container { position: absolute; top:100px; bottom:0px; width:100%; background-color: black; padding: 10px;}


/* Editor */
.collapsable-content {  overflow: hidden }
.collapsable-content.collapsed { height: 0px; }

#editor-view-container input[type="number"] { width:20%; }
#editor-view-container input[type="range"] { width:50%; }

/* Stage */
#stage-container { position: absolute; top:0px; bottom: 0px; right:0px; left:0px; width:100%; box-sizing: border-box; border: dashed 2px black }