{% extends 'layout.html' %}
{% block additional_js %}
<script src="/static/js/vendor/react_with_addons_0.12.2.js"></script>
<script src="/static/js/vendor/jsx_transformer.js"></script>

<script src="/static/js/js5/views/editor.js"></script>
<script src="/static/js/js5/views/ReactUtils.js"></script>
<script src="/static/js/js5/views/editorForm.js"></script>
<script src="/static/js/js5/views/actorEditorForm.js"></script>
{% endblock %}
{% block body %}
<h2>Editor</h2>
<div id="editor-view-container">

</div>
<script>
    var trackEditor = new EditorView({{ track_data|safe }});
    trackEditor.render();
</script>
{% endblock %}