<!doctype html>
<html>
  <head>
    <title>Synesthesia</title>
    <!-- scripts -->
    <script src="/static/js/vendor/mousetrap.js"></script>
    <script src="/static/js/vendor/jquery-2.1.3.js"></script>
    <script src="/static/js/vendor/underscore-1.8.2.js"></script>
    <script src="/static/js/vendor/require_2.1.16.js"></script>
    <script>
        require.config({
            baseUrl: "/static/js/js5",
            paths: {
                "vendor": "/static/js/vendor"
            },
            waitSeconds: 1
        });
        require(["views/visualizer/Director"], function(Director){
            var director = new Director();
        });
    </script>
    <!-- Util scripts and stuff that should be imported as ES6 module -->
    {% block additional_js %}{% endblock %}
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/vendor/css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="/static/css/vendor/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body>
    <div class="page container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>