{% extends 'layout.html' %}
{% block additional_js %}
<script src="static/js/vendor/require_2.1.16.js"></script>
<script>
    require.config({
        baseUrl: "/static/js/js5",
        paths: {
            "vendor": "/static/js/vendor"
        },
        waitSeconds: 15
    });
    require( ["utils/oop", "views/visualizer/Synesthesia", "views/visualizer/Director"], function(){
        var director = new Director();
    } );
</script>
{% endblock %}
{% block body %}
<div id="stage-container">

</div>
{% endblock %}